p1 {
    color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 23.7px;
	user-select: none;
}
a {
    color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 10px;
	text-align: center;
	user-select: none;
}
a2 {
    color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 10px;
	text-align: center;
}

body {
  background-color: #5e58c6;
  font-color: black;
}

button {
  background-color: #FE902D;
  border: 3;
  border-color: white;
  color: white;
  padding: 5px 5px;
  font-size: 16px;
  font-family: Cabin;
  cursor: pointer;
  width:230px;
  height:60px;
}
button:hover {
  background-color: #ffaa5e;
}
button:active {
	background-color: #c77123;
}

testButton {
  background-color: #000000;
  border: 3;
  border-color: white;
  color: white;
  padding: 5px 75px;
  font-size: 16px;
  font-family: Cabin;
  cursor: pointer;
}
testButton:hover {
  background-color: #ffaa5e;
}
testButton:active {
	background-color: #c77123;
}