p1 {
    color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 20px;
	text-align: center;
}
a {
    color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 10px;
	text-align: center;
}

body {
  background-color: #5e58c6;
  font-color: black;
}

button {
  background-color: #FE902D;
  border: 3;
  border-color: white;
  color: black;
  padding: 5px 60px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  font-family: Cabin;
  cursor: pointer;
}
button:hover {
  background-color: #ffaa5e;
  color: black;
}
button:active {
	background-color: #c77123;
}


button3 {
  background-color: #FE902D;
  border: 3;
  border-color: white;
  color: white;
  padding: 5px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Cabin
}
button3:hover {
  background-color: #ffaa5e;
  color: white;
}
button3:active {
	background-color: #c77123;
}