/**
.FrEx, .ToEx {
	color: rgba(0, 0, 0, 1) !important;
}
**/

/**
.FrEx, .ToEx {
	color: rgba(255, 255, 255, 1) !important;
}
**/

.button2 {
  background-color: #5e58c7;
  border: 3;
  border-color: white;
  color: white;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5px;
  font-family: Cabin
}
.button2:hover {
  background-color: #6E67E5;
  color: white;
}
.button2:active {
	background-color: #393577;
}