p1 {
    color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 20px;
}
a {
    color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 10px;
}
body {
	background-color: #0e3ba3;
}


div#articleWRD td.ToWrd {
  display: inline;
}

div#articleWRD:hover td.ToWrd {
  display: none;
}

div#articleWRD td.ToWrd2 {
  display: none;
}

div#articleWRD:hover td.ToWrd2 {
  display: inline;
}